asgiref==3.8.1
Babel==2.14.0
beautifulsoup4==4.12.2
bleach==6.1.0
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==3.1.0
colorama==0.4.6
comm==0.2.1
crispy-bootstrap5==0.7
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
Django==4.1.7
django-crispy-forms==2.0
pillow==11.0.0
sqlparse==0.5.2
tzdata==2024.2
